## Ignore compiled files and Quartus II caches

*.sof
*.pof
*.qsf
*.qsf.bak
*.qws
*.cdf
*.vhd.bak
*.qpf

**/db/
**/incremental_db/
**/output_files/
**/__Previews/

## Ignore ModelSim files.
*.dbs
*.cr.mti
*.mpf
*.dat
*.prw
*.psm
**/work/